/* sass variables */
$red-alert-color: #d70d0d;

body {

}
.common-content-block {
  min-height: 500px;
}

.navbar-transparent {
    background-color: #030303;
}

.navbar-transparent a, .navbar-transparent a:focus {
    color: #fff;
    font-size: 40px;
}

button:focus {outline:0;}
[v-cloak] {display: none;}

.clearfixer {
    float: none;
    clear: both;
}

.custom-sections {
    margin-top: 40px;
    padding: 25px;
    border: 1px solid #333;
}
.fg-1 {
    width: 50%;
}
.fg-2 {
    width: 30%;
}
.fg-3 {
    width: 20%;
    position: relative;
    height: 60px;
}
.form-section form .form-group input,
.form-section form .form-group button,
.form-section form .form-group select {
    display: block;
    width: 100%;
    margin-right: 20px;
    font-size: 17px;
}

.form-section form .form-group button {
    margin-right: 0px;
}

.orders-section {
    margin-bottom: 30px;
}

.clear-filters {
    position: absolute;
    bottom: -20px;
    left: 0px;
}
.disabledField {
    display: inline-block;
    width: auto;
    max-width: 250px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    border: 1px solid #eee;
    font-size: 15px;
}

.custom-header {
    margin-top: 40px;
}
h5 {
    margin: 0;
}
.with-submit-btn {
    margin-top: 30px;
}
.form-section form .form-group.with-submit-btn button.btn {
    width: 100px;
}
.fa-info-circle {
    color: #90bae5;
}
.list-group-item input {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
    font-size: 15px;
}
.email-section {
    border: none;
    padding: 0px;

}
.email-section a {
    font-size: 22px;
}
ul.pagination {
    margin-bottom: 0px;
}

.with-sort-order {
    position: relative;
    display: inline;
}

.with-sort-order .fa {
    font-size: 18px;
}

.with-sort-order .fa-angle-up {
    position: absolute;
    right: -20px;
    top: -5px;
}
.with-sort-order .fa-angle-down {
    position: absolute;
    right: -20px;
    bottom: -5px;
}

@media (max-width: 480px) {
    .fg-1 {
        width: 100%;
    }
    .fg-2 {
        width: 100%;
    }
    .fg-3 {
        width: 100%;
    }
}
